@import 'project-common.scss';

$bg-color:#fff;
$bug-red:#f15548;
$bug-black:#000;

.bug-container{
    width: 400px;
    height: 215px;
    position: relative;
    background-color: $bg-color;
    transform: rotate(-45deg);
}
.bug-body{
    width: 210px;
    height: 200px;
    border-radius: 50%;
    background-color: $bug-red;
    position: absolute;
    z-index: 2;
    box-shadow: inset 20px -16px 0px 0px #bf473d, -28px 20px 20px 0px rgba(0,0,0,0.2);

    &__back-line{
        width: 95%;
        transform: translateY(-9px);
        height: 18px;
        border-radius: 50%;
        background-color: $bug-black;
        z-index: 3;
        top: 50%;
        position: absolute;
        left: 2%;
    }
    &__dots {
        background: radial-gradient(25px 25px, $bug-black 50%, transparent 50%),
        radial-gradient(25px 25px, $bug-black 50%, transparent 50%),
        radial-gradient(25px 25px, $bug-black 50%, transparent 50%),
        radial-gradient(25px 25px, $bug-black 50%, transparent 50%),
        radial-gradient(25px 25px, $bug-black 50%, transparent 50%),
        radial-gradient(25px 25px, $bug-black 50%, transparent 50%);
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: -43px -56px,47px -57px,10px -37px,-4px 239px, -55px 50px, 37px 55px;
    }
}
.bug-head{
    width: 100px;
    height: 110px;
    border-radius: 50%;
    background-color: $bug-black;
    position: absolute;
    z-index: 1;
    left: 160px;
    top: 48px;
    box-shadow: -10px 10px 4px 1px #b5b5b5;

    &__sting{        
        width: 200px;
        height: 170px;
        border: solid 2px $bug-black;
        border-color: $bug-black transparent transparent transparent;
        border-radius: 50%/20px 170px 0 0;
        position: absolute;       
        
        &--sting-left{
            top: -140px;
            left: 25px;
            transform: rotateZ(-15deg) rotateX(-180deg);
        }
        &--sting-right{
            top: 70px;
            left: 25px;
            transform: rotate(15deg);
        }
    }
}